In [2]:
import os
import pandas as pd
import csv

In [6]:
dummy_prdiction = pd.read_csv('') # path to dummy test dataset

In [7]:
dummy_prdiction

                                       uid  prediction
0     fe23c4f9-34a7-4654-9acf-f69a047e8573           0
1     44f7b8e2-afb3-46d2-8809-58d1e7309811           1
2     e8f012c9-0746-4d04-bfca-29dccd846ecd           1
3     205092e3-e63c-4f55-bff0-0d026c1f1839           1
4     19a739dc-347d-4315-bb8c-cea259da2f18           1
...                                    ...         ...
1495  81684922-d66b-4f01-8307-da04a23dd85e           0
1496  d91dad4c-a90e-4ef1-a82f-685424711b61           1
1497  42a85e91-eb30-47ec-aa28-d9d7a03d5949           1
1498  eb998807-a424-4082-a02d-fa77ce41ff65           0
1499  339526b6-52c1-4c52-b59b-47e77eab1ed8           0

[1500 rows x 2 columns]

In [8]:
file_path = "" #file path

In [15]:
dummy_prdiction['uid']

0       fe23c4f9-34a7-4654-9acf-f69a047e8573
1       44f7b8e2-afb3-46d2-8809-58d1e7309811
2       e8f012c9-0746-4d04-bfca-29dccd846ecd
3       205092e3-e63c-4f55-bff0-0d026c1f1839
4       19a739dc-347d-4315-bb8c-cea259da2f18
                        ...
1495    81684922-d66b-4f01-8307-da04a23dd85e
1496    d91dad4c-a90e-4ef1-a82f-685424711b61
1497    42a85e91-eb30-47ec-aa28-d9d7a03d5949
1498    eb998807-a424-4082-a02d-fa77ce41ff65
1499    339526b6-52c1-4c52-b59b-47e77eab1ed8
Name: uid, Length: 1500, dtype: object

In [53]:
files_list = os.listdir(file_path)

labs = []
name = []
all_text = []
for (root, dirs, file) in os.walk(file_path):
    for f in file:
        text = open(os.path.join(root,f),"r").read()
        name.append(f[:-4])
        all_text.append(text)
        lab = dummy_prdiction['prediction'] [dummy_prdiction['uid'] == f[:-4]].values[0]
#         print(lab)
        
        labs.append(lab)
    
    dict = {"name": name, "text": all_text, "label":labs }

In [54]:
df = pd.DataFrame(dict)

In [55]:
df

,name,text,label
0,f99bc669-fc11-4fd2-94cb-1aaa06d61311,"v. ramana, j. civil appeal number 673 of 2012...",0
1,76fbba43-bc53-467d-a303-bdb252c8c471,"m. sundresh, j. a well merited judgment of th...",0
2,b0dd0ff9-9e54-43d3-a40d-226e4c79d671,"pamidighantam sri narasimha, j. these criminal...",1
3,9b405c09-5cfc-478b-80f5-d88e0be9d437,"r. shah, j. feeling aggrieved and dissatisfie...",1
4,0d05060d-8cce-4677-8a48-a57785422a62,"ravindra bhat, j. with company sent of compan...",1
...,...,...,...
1495,52301af3-83be-48b5-9321-3c9323732207,"r. gavai, j. leave granted. by the present ap...",1
1496,2187a932-6ec0-4487-b798-8cb53ee3c8f9,"indira banerjee, j. leave granted. this appeal...",1
1497,9b3fdaaf-6749-4233-8c4d-edf9c4bf8a13,"indira banerjee, j. this appeal, under section...",0
1498,b7d5e771-dc7a-4df7-bc4e-a9ae6d54d038,"nageswara rao, j. the company plaint of the w...",1
1499,9b280c24-8eff-41cd-aa61-d05ba1b39e2f,"sanjay kishan kaul, j. background the company ...",1

In [56]:
# saving the dataframe
df.to_csv('') #file path where you want to save